#PBS -N 03-2K
#PBS -l ncpus=16
#PBS -l mem=200gb 



cd ${PBS_O_WORKDIR}



source activate deep-learning
BASEDIR=$(cat basedir.txt)

python ${BASEDIR}/03-ChooseK/OptimalK.py -emx ${BASEDIR}/Input/*OFFremoved_exp.csv -i ${BASEDIR} -d ${BASEDIR}/02-DP_GP/
