#PBS -N 00Prep
#PBS -l ncpus=32
#PBS -l mem=200gb


cd ${PBS_O_WORKDIR}

source activate deep-learning

BASEDIR=$(cat basedir.txt)
python ${BASEDIR}/00-DataPrep/InputPrep.py -i ${BASEDIR}/Input/*_exp_rep.csv -o ${BASEDIR}/Input/Test
